body {
	font-family: Arial, sans-serif;
}

header, main, footer {
	width: 96%;
	margin: 0.5rem 2%;
}

h1 {
	font-size: 2rem; 
}

.grid__element {
	width: calc(100% - 4px);
	border: solid 2px;
	margin: 0.5rem 0;
}

.grid__number {
	box-sizing: border-box;
	text-align: center;
	font-size: 1.4rem; 
	display: block;
	width: 100%;
	padding: 0.5rem; 
	color: inherit;
	text-decoration: none; 
}

.grid__number:hover {
	background: lightsteelblue; 
}

@media (min-width: 300px) {
	.grid__element {
		width: calc(49% - 4px);
		margin-right: 2%; 
		float: left; 
	}

	.grid__element:nth-child(2n) {
		margin-right: 0; 
	}
}

@media (min-width: 600px) {
	.grid__element {
		width: calc(32% - 4px);
		/*float: left; */
	}

	.grid__element:nth-child(2n) {
		margin-right: 2%; 
	}

	.grid__element:nth-child(3n) {
		margin-right: 0; 
	}
}

@media (min-width: 900px) {
	header, main, footer {
		width: calc(900px * 96 / 100);
		margin-left: auto; 
		margin-right: auto; 
	}
}